:root {
    --primary: #6155A6;
    --secondary: #A685E2;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 20vh;
    position: relative;
}

#countdown {
    position: absolute;
    top: 0;
    right: 0;
}

main {
    margin: auto 50px;
    text-align: center;
}

main h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 300%;
    padding: 20px;
}

main section p {
    font-size: 20px;
    line-height: 1.5;
}

main section button {
    background-color: var(--primary);
    color: white;
    border-style: none;
    padding: 10px 25px;
    border-radius: 20px;
    margin: 5px;
}

main section h2 {
    padding: 20px;
    font-size: 200%;
}

.multipleChoice {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
}

a:hover{
    color: var(--secondary);
}

main section button:hover {
    background-color: var(--secondary);
}